@CHARSET "ISO-8859-1";
/*
Feuille de style qui reset un certain nombre d'attribut qui sont differents selon les navigateurs.
Cela permet de garder l'homogeneite entre les navigateurs.
*/
* 		{ padding:0; margin:0; font-size:100%;}
body	{ font:13px Arial,Helvetica,Garuda,sans-serif; *font-size:small; *font:x-small; text-align: center; width:100%; }
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code { line-height:1em;  font-weight:normal; font-style:normal; }
table	{ font-size:inherit; }
ul		{ list-style:none; }
img		{ border:0; }
p		{ margin:1em 0; }
