<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
      id="WebApp_ID" version="2.5">

	<display-name>ccidemo</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	      
<!-- 	<filter> -->
<!--         <filter-name>securityFilterChain</filter-name> -->
<!--         <filter-class> -->
<!--             org.springframework.web.filter.DelegatingFilterProxy -->
<!--         </filter-class> -->
<!--         <init-param> -->
<!--         	<param-name>targetBeanName</param-name> -->
<!--         	<param-value>jerseySessionFilter</param-value> -->
<!--         </init-param> -->
<!-- 	</filter> -->

<!-- 	<filter-mapping> -->
<!-- 		<filter-name>securityFilterChain</filter-name> -->
<!-- 		<url-pattern>/jersey/*</url-pattern> -->
<!-- 	</filter-mapping> -->

<!-- 	<filter-mapping> -->
<!-- 		<filter-name>securityFilterChain</filter-name> -->
<!-- 		<url-pattern>/pages/userAccess/eventDetailsAction.action</url-pattern> -->
<!-- 	</filter-mapping> -->
	
      <filter>
            <filter-name>struts2</filter-name>
            <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
      </filter>   
      <filter-mapping>
            <filter-name>struts2</filter-name>
            <url-pattern>/pages/*</url-pattern>
      </filter-mapping>

      <listener>
            <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
      </listener>

      <context-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
      </context-param>

      <listener>
            <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
      </listener>

      <servlet>
            <servlet-name>Jersey REST Services</servlet-name>
            <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
      </servlet>
      
      <servlet-mapping>
            <servlet-name>Jersey REST Services</servlet-name>
            <url-pattern>/jersey/*</url-pattern>
      </servlet-mapping> 
</web-app>